<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cart</title>
        <!-- TailWind -->
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body
        class="flex h-screen flex-col flex-wrap content-center justify-center"
    >
        <!-- Cart products Table -->
        <div class="flex content-center justify-between">
            <h1 class="mb-4 text-4xl">Carts products</h1>
            <a
                class="h-fit text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
                href="/home"
                >Go Home</a
            >
        </div>
        <table
            class="h-min w-1/2 text-sm text-left text-gray-500 dark:text-gray-400"
        >
            <thead
                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >
                <tr>
                    <th scope="col" class="px-6 py-3">Quantity</th>
                    <th scope="col" class="px-6 py-3">Title</th>
                    <th scope="col" class="px-6 py-3">Description</th>
                    <th scope="col" class="px-6 py-3">Price</th>
                    <th scope="col" class="px-6 py-3">Stock</th>
                    <th scope="col" class="px-6 py-3">Code</th>
                    <th scope="col" class="px-6 py-3">Status</th>
                    <th scope="col" class="px-6 py-3">Category</th>
                </tr>
            </thead>
            <tbody id="productsTableBody">
                <% cart.products.forEach((p)=> { %> <%-
                include('../components/cartProduct.ejs', { product: p.product,
                quantity: p.quantity }) %> <% }); %>
            </tbody>
        </table>
    </body>
</html>
